<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PryAccesoDatos.Properties.Settings.Value" connectionString="Data Source=DESKTOP-I8SRUIV;Initial Catalog=Bistro;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>